{% extends 'base.html' %}
{% load static %}

{% block title %}Home - KFS University{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>Welcome to KFS University</h1>
            {% if user.is_authenticated %}
                <p>Hello, {{ user.first_name }} {{ user.last_name }}!</p>
                <p>User Type: {{ user.user_type|title }}</p>
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
            {% else %}
                <p>Please <a href="{% url 'login' %}">login</a> to access your account.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
