{% extends 'home/base_home.html' %}
{% load static %}

{% block title %}Notifications - KFS University{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'home/css/notifications.css' %}">
{% endblock %}

{% block home_content %}
<div class="notifications-container">
    <div class="notifications-header">
        <h1>Notifications</h1>
        <button id="mark-all-read-btn" class="mark-all-read-btn">Mark all as read</button>
    </div>

    <div class="notifications-list" id="notifications-list">
        <div class="loading-spinner">
            <div class="spinner"></div>
            <p>Loading notifications...</p>
        </div>
    </div>

    <div class="no-notifications hidden" id="no-notifications">
        <img src="{% static 'home/images/no-notifications.svg' %}" alt="No notifications" class="no-notifications-icon">
        <p>You don't have any notifications yet</p>
    </div>
</div>
{% endblock %}

{% block page_js %}
<script src="{% static 'home/js/notifications.js' %}"></script>
{% endblock %}
