{% extends 'home/base_home.html' %}
{% load static %}

{% block title %}Chat | E-Platform{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'chatting/css/chat_unified.css' %}">
{% endblock %}

{% block home_content %}
<div class="chat-wrapper">
    {% block chat_content %}{% endblock %}
    <div class="sidebar-overlay" id="sidebar-overlay"></div>
</div>
{% endblock %}

{% block page_js %}
    <!-- Load the chat.js script with an ID to prevent duplicate loading -->
    <script id="chat-js-script" src="{% static 'chatting/js/chat.js' %}" defer></script>
{% block chat_js %}{% endblock %}
{% endblock %}