{% extends 'base.html' %}
{% load static %}

{% block title %}Chat | E-Platform{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'chatting/css/chat.css' %}">
{% endblock %}

{% block content %}
<section class="animated-background">
    <div class="wave">
        <span></span>
        <span></span>
        <span></span>
    </div>
</section>

<div class="chat-wrapper">
    {% block chat_content %}{% endblock %}
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'chatting/js/chat.js' %}"></script>
{% block chat_js %}{% endblock %}
{% endblock %}