[Unit]
Description=E_Platform Daphne Service
After=network.target

[Service]
User=your_username
Group=your_group
WorkingDirectory=/mnt/4BC9EBFC28ECC8F5/Others/Projects/E_Platform
ExecStart=/path/to/your/venv/bin/daphne -b 127.0.0.1 -p 8001 E_Platform.asgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target
