[Unit]
Description=E_Platform Django Service
After=network.target

[Service]
User=your_username
Group=your_group
WorkingDirectory=/mnt/4BC9EBFC28ECC8F5/Others/Projects/E_Platform
ExecStart=/path/to/your/venv/bin/gunicorn E_Platform.wsgi:application --bind 127.0.0.1:8000 --workers 3
Restart=on-failure

[Install]
WantedBy=multi-user.target
