[Unit]
Description=E_Platform Daphne Service
After=network.target redis.service
Wants=redis.service

[Service]
User=http
Group=http
WorkingDirectory=/mnt/4BC9EBFC28ECC8F5/Others/Projects/E_Platform
ExecStart=/mnt/4BC9EBFC28ECC8F5/Others/Projects/E_Platform/.venv/bin/daphne \
    -b 127.0.0.1 \
    -p 8001 \
    --access-log /var/log/eplatform/daphne-access.log \
    --websocket-timeout 86400 \
    E_Platform.asgi:application

# Environment variables
Environment=DJANGO_ALLOW_ASYNC_UNSAFE=true
Environment=WEBSOCKET_CSRF_EXEMPT=true
Environment=DB_ENGINE=postgresql
Environment=DB_NAME=e_platform_db
Environment=DB_USER=zero
Environment=DB_PASSWORD=82821931003
Environment=DB_HOST=localhost
Environment=DB_PORT=5432

# Restart on failure
Restart=on-failure
RestartSec=5s

# Limit resources
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
