{% extends 'home/base_home.html' %}
{% load static %}

{% block title %}Profile - KFS University{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'home/css/profile.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block home_content %}
<div class="profile-container">
    {% block profile_content %}{% endblock %}
</div>
{% endblock %}

{% block page_js %}
<script src="{% static 'home/js/profile.js' %}"></script>
{% endblock %}
